<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="css/registerstyle.css">
</head>
<body>
    <form action="/register" method="POST">
        <label for="fname">First Name</label>
        <br>
        <input type="text" id="fname" name="FirstName">
        <br>
        <label for="Lname">Last Name</label>
        <br>
        <input type="text" id="lname" name="LastName">
        <br>
        <label for="email">Email</label>
        <br>
        <input type="email" name="Email" id="email">
        <br>
        <label for="pwd">Password</label>
        <br>
        <input type="password" id="pwd" name="password">
        <br>
        <label for="dob">Date Of Birth</label>
        <br>
        <input type="date" name="dob" id="dob">
        <br>
        <input type="submit" value="Submit">
       <a href="home">done registering,shop now!</a>
    </form>
</body>
</html>